*{
    padding: 0 auto;
    margin: 0;
    box-sizing: border-box;
}
.c{
    background-color:rgb(243, 246, 250);
    
    
  
  margin-left: 100px;
  margin-right: 50px;
}
.container{
    background-color:white;
    max-width: 1000px;
    
}
.header{
    padding: 28px ;
    margin-left: 27%;
    margin-top:30px ;
    
}
 .header h1{
    color: black ;
    text-align: center;
    padding-right: 32%;
    font-family: cursive;
    font-size:2.5rem ;
}
.a{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.row {
    width: 100%;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 13px;
}





.body {
    text-align: center;
}


.desc {
    background-color: honeydew;
    color: gray;
    border-radius: 2px; 
    
}
.name {
    background:white;
    color: gray;
    padding: 10px;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name img{
    
        width: 50px;
        height: 50px;
        border: 3px solid white;
         border-radius: 5px;
}
.desc>p {
    background-color: white;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  
}
.


.card{
    padding: 15px 10px;
    margin-left: 80px;
    transition: .6s;
}
.card:hover{
    transform: scale(1.5);
}









    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }








  




